<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script.js"></script>
</head>

<body>
    <div id="header">

        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
        </ul>
    </div>
    <div id="content" class="container">
        <div class="video">
            <p>Cristiano Ronaldo in Juventus: </p><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gSWR1dVlqO8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Cristiano Ronaldo in Real Madrid: </p><br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5hFd6zGkxLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div id="footer">Design by abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>

</html>