<!doctype html>
<html>
<head>
    <title>Le Coq</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:0px; }
    </style>
</head>
<body>
        <img src = "/images/logo.png" width="150" height="150"/> 
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

    <div class="text-center">
        <p>Design by Bill</p>
        <p>Tham khảo trên Google</a>.</p>
    </div>

</div>
</body>
</html>
