<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/"></script>
</head>
<body>
    <div id="header">
        
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
          </ul>          
    </div>
    <div id="content" class="container">
        <div id="post">
                <div class="action">
                    <img src="/images/Pogba.jpg" />
                    <a style="text-align: center" id="Pogba">Chính thức Pogba ở lại MU</a>
                    <p>
                        Trong mùa Hè 2019, Paul Pogba dường như đã bước 1 chân ra khỏi Old Trafford. Cá nhân anh từng úp mở việc có thể chia tay M.U lần thứ 2 trong sự nghiệp để quay trở lại Juventus hoặc đến với Real Madrid. <br>

<br>Khi đó, M.U từng hét giá bán Pogba lên tới 150 triệu bảng. Về phía Pogba, siêu cò Mino Raiola cũng tuyên bố sẽ làm mọi cách để giúp thân chủ đạt ý nguyện dù còn 2 năm hợp đồng với Quỷ đỏ. <br>

<br>Nhưng theo tờ AS (Tây Ban Nha), HLV Ole Gunnar Solskjaer dự định dùng quãng thời gian M.U du đấu ở các quốc gia châu Á (Australia, Singapore và Trung Quốc) để thuyết phục cầu thủ 26 tuổi ở lại.<br>

<br>Solsa tin rằng bầu không khí tích cực mà ông đã tạo ra tại đội bóng trong quá trình chuẩn bị cho mùa giải mới sẽ tác động tốt tới Pogba và khiến nhà vô địch World Cup 2018 thay đổi. Bản thân Solsa cũng có mối quan hệ tốt với Pogba, khác xa so với Jose Mourinho

TTCN ở Anh sẽ đóng cửa vào lúc 17h00 (giờ địa phương) ngày 8/8 nhưng thời gian ở Italia và Tây Ban Nha lại hoàn toàn khác.<br>
<br>Cụ thể, TTCN tại Italia sẽ khép lại vào ngày 18/8 còn ở Tây Ban Nha là 31/8. Do đó, Solsa cần phải làm rất nhiều việc để Pogba thôi nghĩ về Juve hay Real mà toàn tâm toàn ý gắn bó với M.U.

Hiện tại, M.U đang tập huấn ở Australia. Theo lịch, M.U sẽ thi đấu với đội chủ nhà Perth Glory (Australia) vào ngày 13/7 trước khi đối đầu với Leeds sau đó 4 hôm. <br>

                    </p>
                    <hr>
                </div>              
        </div>

        

        <div id="sidebar">
            <h2>Tin nóng</h2>
            <div id="tin">
            <p><a href="tin1">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</a></p><br> 
            <hr><br> 
            <p><a href="tin2">Juventus chốt giá khủng bán Dybala</a></p> <br> 
            <hr><br> 
            <p> <a href="tin3"> Sếp lớn ra tay, 2 tân binh sắp ra mắt Arsenal</a></p><br> 
            <hr><br> 
            <p><a href="tin4">"Gareth Bale sắp được chào đón tại đây"</a></p> </p> <br>
            <hr><br> 
            <p> <a href="tin5">Ed Woodward sắp có thêm 2 tân binh</a></p> <br>         
            </div>
        </div>



        <div id="footer">Design by abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>
</html>

