<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/"></script>
</head>
<body>
    <div id="header">
        
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
          </ul>          
    </div>
    <div id="content" class="container">
        <div id="post">
                <div class="action">
                    <h1 style="color: red">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</h1><br>
                    <b>Tương lai của Bruno Fernandes tiếp tục khiến Manchester United sục sôi.</b>
                    <p>
                        Thời gian qua, báo chí châu Âu liên tục loan tin, Man United đã đạt được thỏa thuận cá nhân với Bruno Fernandes. Tờ Correio da Manha (Bồ Đào Nha) thậm chí còn khẳng định,
                         Fernandes đang rất nóng lòng chờ đợi thương vụ sẽ sớm được hoàn tất.<br>
                        <br>Vấn đề duy nhất khiến Man United chưa công bố thương vụ này chính là mức phí chuyển nhượng dành cho Bruno Fernandes. Phía CLB Sporting Lisbon yêu cầu 70 triệu euro nhưng Man United chỉ mới đưa ra lời đề nghị khá khiêm tốn, 35 triệu euro.<br>
                    <img src="/images/bruno-fernandes-man-utd.jpg" />
                    <p> <t>Vụ Fernandes chưa ngả ngũ</t><br>
                    <br>Gần nhất, Chủ tịch Frederico Varandas của Sporting Lisbon ngụ ý giá bán cho Man United khi tuyên bố: "Đã xuất hiện rất nhiều tin đồn về giá trị của cậu ấy, nhưng tôi chắc chắn là với 55 triệu hay 62 triệu euro thì Bruno sẽ không được phép ra đi. 
                    Nếu Bruno ra đi, những cầu thủ chất lượng khác sẽ đến."<br>
                    <br>Dù vậy, khi mà tương lai chưa giải quyết xong, Bruno Fernandes đang thực sự khiến CĐV Man United hoang mang khi <b>bất ngờ xuất hiện cùng đồng đội đáp chuyến bay sang Mỹ</b> đi du đấu mùa Hè.
                    Hình ảnh này được trang twitter chính thức của Sporting Lisbon đăng tải.
                    Thị trường chuyển nhượng mùa Hè ở Premier League sẽ kết thúc vào ngày 8/8 và hiện tại, Man United vẫn chưa có bước tiến đột phá nào trong thương vụ này. Có khả năng Quỷ đỏ vẫn không chịu chi 70 triệu euro do phía Sporting Lisbon yêu cầu. Như vậy, nguy cơ thương vụ này đổ bể là khá cao.<br></p>
                    </p>
                    <hr>
                </div>              
        </div>

        

        <div id="sidebar">
            <h2>Tin nóng</h2>
            <div id="tin">
            <p><a href="tin1">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</a></p><br> 
            <hr><br> 
            <p><a href="tin2">Juventus chốt giá khủng bán Dybala</a></p> <br> 
            <hr><br> 
            <p> <a href="tin3"> Sếp lớn ra tay, 2 tân binh sắp ra mắt Arsenal</a></p><br> 
            <hr><br> 
            <p><a href="tin4">"Gareth Bale sắp được chào đón tại đây"</a></p><br>
            <hr><br> 
            <p> <a href="tin5">Ed Woodward sắp có thêm 2 tân binh</a></p> <br>         
            </div>
        </div>



        <div id="footer">Design by abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>
</html>

