<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/"></script>
</head>
<body>
    <div id="header">
        
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
          </ul>          
    </div>
    <div id="content" class="container">
        <div id="post">
                <div class="action">
                    
                        <h1 style="color: red">Cơ hội để Manchester United chiêu mộ Paulo Dybala thành công là không nhỏ.</h1><br>
                    <p>    
                   <br>Man United vẫn đang rục rịch công phá thị trường chuyển nhượng mùa Hè với mục tiêu lấy lại vị thế số 1 ông lớn nước Anh. Theo đó, Paulo Dybala nhanh chóng lọt vào tầm ngắm của đội chủ sân Old Trafford.

Hiện tại, do muốn tập trung xây dựng lối chơi xung quanh Cristiano Ronaldo và vốn dĩ hàng công đang trở nên khá chật chội, Juventus không muốn giữ Dybala - người đánh mất mình trong mùa giải này.
 Do đó, <u>khả năng Dybala chia tay Juventus là không hề nhỏ.</u><br>
 <img src="/images/dybala0.jpg" /><br>
 <p>
<br> Trong bối cảnh Romelu Lukaku hoặc Paul Pogba có thể ra đi, HLV Ole Gunnar Solskjaer đã dành sự quan tâm lớn cho Dybala. Chiến lược gia người Na Uy rất ngưỡng mộ tài năng của Dybala và có thể biến anh thành quân bài chủ chốt trên hàng công Man United.<br><br>
 Ở chiều hướng ngược lại, Juventus sẵn sàng lắng nghe những lời đề nghị dành cho Dybala và không ngần ngại để ngôi sao người Argentina chuyển tới khoác áo Man United nếu gã khổng lồ Premier League đưa ra lời đề nghị phù hợp.<br>
<br>Cụ thể, nguồn tin từ tờ Daily Mail khẳng định, Man United sẽ có được sự phục vụ của Dybala nếu đưa ra mức giá đáp ứng con số trong khoảng 70~90 triệu bảng. Ngoài Man United, cả PSG lẫn Inter Milan cũng đánh tiếng muốn có chữ ký của Dybala.<br>
                    </p>
                    <hr>
                </div>              
        </div>

        

        <div id="sidebar">
            <h2>Tin nóng</h2>
            <div id="tin">
            <p><a href="tin1">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</a></p><br> 
            <hr><br> 
            <p><a href="tin2">Juventus chốt giá khủng bán Dybala</a></p> <br> 
            <hr><br> 
            <p> <a href="tin3"> Sếp lớn ra tay, 2 tân binh sắp ra mắt Arsenal</a></p><br> 
            <hr><br> 
            <p><a href="tin4">"Gareth Bale sắp được chào đón tại đây"</a></p> <br>
            <hr><br> 
            <p> <a href="tin5">Ed Woodward sắp có thêm 2 tân binh</a></p> <br>         
            </div>
        </div>



        <div id="footer">Design by abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>
</html>

