<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/"></script>
</head>
<body>
    <div id="header">
        
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
          </ul>          
    </div>
    <div id="content" class="container">
        <div id="post">
                <div class="action">
                   
                    <p>
                      <h1 style="color: red">Giám đốc bóng đá Raul Sanllehi đã trở lại London để giúp Arsenal nhanh chóng chốt 2 thượng vụ rất đáng kỳ vọng.</h1><br>
                      
                      <br>Trong thời gian qua, ông Sanllehi đã theo chân Arsenal đến Mỹ, nơi mà HLV Unai Emery và các học trò đang tập luyện để chuẩn bị cho mùa giải 2019/20 sẽ khởi tranh vào tháng 08 này.<br>
                      <br>Tuy nhiên vào ngày hôm qua, ông Sanllehi cũng đã chia tay các thành viên Arsenal để bay trở lại London nhằm trực tiếp ra tay giải quyết 2 thương vụ chuyển nhượng mà HLV Emery đang rất kỳ vọng trong mùa hè năm nay.<br>
                      <br>Đầu tiên đó chính là trường hợp của Dani Ceballos, ngôi sao đang nằm trong danh sách cần được thanh lý của Real. Emery đang muốn tiền vệ 22 tuổi này sẽ trám vào khoảng trống mà Aaron Ramsey để lại sau khi chuyển tới Juventus.<br>
                      <img src="/images/arsenal0.jpg" /><br>
                      <h4><i>Ông Raul Sanllehi đã quay trở lại Anh để giúp Arsenal sớm hoàn tất việc đàm phán với Dani Ceballos và William Saliba.</i></h4><br>
                      <br>Cái tên thứ 2 đó là William Saliba, một ngôi sao trẻ rất triển vọng của Saint-Etienne. Với tài năng trẻ 18 tuổi này, Pháo Thủ kỳ vọng sẽ giúp Emery có thêm nhiều phương án lựa chọn trong việc bố trí hàng thủ, nhất là khi Laurent Kosicelny đã "làm loạn" để được ra đi.<br>
                      <br>Sau khi giải quyết xong các thỏa thuận với 2 cầu thủ này, Kieran Tierney sẽ là cái tên tiếp theo được ông Sanllehi nhắm đến. Theo Sky Sports, lời đề nghị thứ hai trị giá 25 triệu bảng Anh của Arsenal dành cho Kieran Tierney cũng vừa bị Celtic từ chối.<br>
                    </p>
                    <hr>
                </div>              
        </div>

        

        <div id="sidebar">
            <h2>Tin nóng</h2>
            <div id="tin">
            <p><a href="tin1">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</a></p><br> 
            <hr><br> 
            <p><a href="tin2">Juventus chốt giá khủng bán Dybala</a></p> <br> 
            <hr><br> 
            <p> <a href="tin3"> Sếp lớn ra tay, 2 tân binh sắp ra mắt Arsenal</a></p><br> 
            <hr><br> 
            <p><a href="tin4">"Gareth Bale sắp được chào đón tại đây"</a></p><br>
            <hr><br> 
            <p> <a href="tin5">Ed Woodward sắp có thêm 2 tân binh</a></p> <br>         
            </div>
        </div>



        <div id="footer">Design by abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>
</html>

