<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/"></script>
</head>
<body>
    <div id="header">
        
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
          </ul>          
    </div>
    <div id="content" class="container">
        <div id="post">
                <div class="action">
                    
                     
                    <p>
                      <h1 style="color: red">Một câu lạc bộ đang rất khát khao có được sự phục vụ của Gareth Bale.</h1>
                      <br>Thông tin Gareth Bale bị ban lãnh đạo Real Madrid bật bãi đang là chủ đề rất hot trong những ngày gần đây. Sau một mùa giải vô cùng nhạt nhòa cùng những hành động khá chướng mắt bên ngoài sân cỏ, thì việc cựu ngôi sao Tottenham Hotspur buộc phải rời Bernabeu hoàn toàn có thể đoán trước.<br>
                      <br>Tuy nhiên, Bale không cần phải quá lo lắng cho tương lai của mình, bởi có rất nhiều câu lạc bộ hàng đầu mong muốn có được sự phục vụ của anh. Mới đây, nguồn tin từ Goal tiết lộ rằng, Bayern Munich đang lên kế hoạch chiêu mộ chân sút người xứ Wales với hy vọng anh sẽ lấp đầy khoảng trống mà Arjen Robben để lại.<br>
                      <img src="/images/arsenal0.jpg" /><br>
                      
                      <br>Theo nguồn tin từ Football-espana, Thiago Alcantara đã gửi lời mời gọi đến Bale. Phát biểu trước truyền thông, cựu tiền vệ Barcelona nói:<br>
                      <br><i>"<b>Anh ấy sẽ được chào đón tại đây</b>. Chúng tôi đã mất hai tiền vệ cánh xuất sắc (Franck Ribery, Arjen Robben), hai cầu thủ này đã viết rất nhiều lịch sử của Bayern và Gareth Bale chơi ở vị trí khá giống họ.<br>
                      <br>Vì vậy, nếu ai đó có tầm cỡ như Gareth Bale muốn đến đây thì như tôi đã nói, anh ấy là một cầu thủ chất lượng sẽ được chào đón rất nồng hậu"</i><br>
                      <br>Ngoài ra, HLV Bayern, Niko Kovac cũng úp mở dự định chiêu mộ tiền đạo người xứ Wales với các phóng viên.<br>
                      <br><i>"Tôi muốn các nhà báo Đức lắng nghe cẩn thận những gì tôi nói. Gareth Bale là một cầu thủ tuyệt vời,  nhưng tôi không thể nói cho bạn biết anh ấy sẽ chơi cho bất kỳ câu lạc bộ nào ngoài Real Madrid mùa tới hay anh ấy sẽ thành công ở các câu lạc bộ khác.</i><br>
                      <br><i>Tình huống của anh ấy là một tình huống mà tôi không biết và cũng không phải là tình huống mà tôi có thể dự đoán."</i>
                    </p>
                    <hr>
                </div>              
        </div>

        

        <div id="sidebar">
            <h2>Tin nóng</h2>
            <div id="tin">
            <p><a href="tin1">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</a></p><br> 
            <hr><br> 
            <p><a href="tin2">Juventus chốt giá khủng bán Dybala</a></p> <br> 
            <hr><br> 
            <p> <a href="tin3"> Sếp lớn ra tay, 2 tân binh sắp ra mắt Arsenal</a></p><br> 
            <hr><br> 
            <p><a href="tin4">"Gareth Bale sắp được chào đón tại đây"</a></p> <br>
            <hr><br> 
            <p> <a href="tin5">Ed Woodward sắp có thêm 2 tân binh</a></p> <br>         
            </div>
        </div>



        <div id="footer">Design by abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>
</html>

