<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/"></script>
</head>
<body>
    <div id="header">
        
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
          </ul>          
    </div>
    <div id="content" class="container">
        <div id="post">
                <div class="action">
                    <h1 style="color: red">Đội chủ sân Old Trafford đang từng bước hiện thực hóa chiến lược phát triển lâu dài của CLB.</h1><br>
                    <p>  
                        <br>Trong kì chuyển nhượng mùa Hè 2019, HLV Ole Gunnar Solskjaer chủ yếu đưa vào danh sách mua sắm những nhân tố trẻ, giàu tiềm năng. Hai tân binh của Quỷ đó là Daniel James cùng Aaron Wan-Bissaka đều là các cầu thủ sinh năm 1997.<br>
                        <br>Chiến lược gia người Na Uy và các cộng sự của mình vẫn đang trung thành với kế hoạch trẻ hóa đội bóng. Chưa dừng lại ở đó, thượng tầng của M.U cũng có những sự bổ sung mới. Nửa đỏ thành Manchester quyết định tuyển dụng thêm hai trinh sát viên ở La Liga và Ligue 1.<br>
                        <br><img src="/images/mu0.jpg" />
        
                        <br>Trên trang chủ của mình, Quỷ đỏ chính thức ra thông báo thăng chức cho <b>Nicky Butt lên vị trí Trưởng bộ phận phát triển Đội một</b>, nơi anh sẽ làm việc trực tiếp với Ole Gunnar Solskjaer. Trong khi đó, Nick Cox là người được chọn để thay thế vai trò Giám đốc học viện mà cựu tiền vệ người Anh để lại.<br>
                        <br><i>"Những thay đổi này sẽ đẩy mạnh năng suất và tạo ra thêm những thành quả tuyệt vời mà chúng ta đã thấy trong nhiều thập kỷ qua. Học viện của CLB tiếp tục duy trì truyền thống phát triển, đào tạo những cầu thủ xuất sắc nhất thế giới có khả năng thi đấu và tỏa sáng ở đội một"</i>, Ed Woodward chia sẻ trên MUTV.<br>
                        <br>Trước đó, đội U23 của Manchester United cũng có bước chuyển mình đáng kể khi Ricky Sbragia bị sa thải. Cái tên được chọn thay thế đó chính là người cũ Neil Wood cùng với cựu tiền vệ Quinton Fortune trong vai trò trợ lý.<br>
                    </p>
                    <hr>
                </div>              
        </div>

        

        <div id="sidebar">
            <h2>Tin nóng</h2>
            <div id="tin">
            <p><a href="tin1">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</a></p><br> 
            <hr><br> 
            <p><a href="tin2">Juventus chốt giá khủng bán Dybala</a></p> <br> 
            <hr><br> 
            <p> <a href="tin3"> Sếp lớn ra tay, 2 tân binh sắp ra mắt Arsenal</a></p><br> 
            <hr><br> 
            <p><a href="tin4">"Gareth Bale sắp được chào đón tại đây"</a></p> <br>
            <hr><br> 
            <p> <a href="tin5">Ed Woodward sắp có thêm 2 tân binh</a></p> <br>         
            </div>
        </div>



        <div id="footer">Design by abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>
</html>

