<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Le Coq</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/script1.js"></script>
</head>
<body>
    <div id="header">
        <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="lich">LỊCH THI ĐẤU</a></li>
            <li><a href="ketQua">KẾT QUẢ</a></li>
            <li><a href="highlight">HIGHLIGHT</a></li>
            <li><a href="bangXepHang">BẢNG XẾP HẠNG</a></li>
            <li><a href="login">Login</a></li>
          </ul>          
    </div>

    <div id="content" class="container">
        <div id="post">
                <div class="action">
                    <img src="/images/Pogba.jpg" />
                    <p style="text-align: center"></p> <a href="Pog">Chính thức Pogba ở lại MU</a>
                    <p>Ngày 22/7 Pogba đã quyết định ở lại MU...</p>
                    <hr>
                </div>

                <form class="form-horizontal">
                        <fieldset>
                        
                        <legend>Mức độ hài lòng của bạn</legend>
                        
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="radios">Đánh giá cho Web</label>
                          <div class="col-md-4"> 
                            <label class="radio-inline" for="a">
                              <input type="radio" name="radios" id="a" value="1">
                              Không hài lòng
                            </label> 
                            <label class="radio-inline" for="a">
                              <input type="radio" name="radios" id="a" value="2" checked="checked">
                              Bình thường
                            </label> 
                            <label class="radio-inline" for="a">
                              <input type="radio" name="radios" id="a" value="3">
                              Hài lòng
                            </label> 
                          </div>
                        </div>
                        <button onclick="Alert()">submit</button>
                        </fieldset>
                        </form>
        </div>

        <div id="sidebar">
            <h2>Tin nóng</h2>
            <div id="tin">
            <p><a href="tin1">SỐC! Lộ hình ảnh mới nhất của Bruno Fernandes gây ngỡ ngàng cho MU</a></p><br> 
            <hr><br> 
            <p><a href="tin2">Juventus chốt giá khủng bán Dybala</a></p> <br> 
            <hr><br> 
            <p> <a href="tin3"> Sếp lớn ra tay, 2 tân binh sắp ra mắt Arsenal</a></p><br> 
            <hr><br> 
            <p><a href="tin4">"Gareth Bale sắp được chào đón tại đây"</a></p> <br>
            <hr><br> 
            <p> <a href="tin5">Ed Woodward sắp có thêm 2 tân binh</a></p> <br>         
            </div>
        </div>



      <div id="footer">Design abc</div>
    </div>
    <div id="adv">
        &copy; Web development - 17VP - FIT - HCMUS - 2019
    </div>


</body>
</html>

